.input-wrapper {
  margin-bottom: 0.5rem;

  label {
    font-weight: bold;
    color: #ad5502;

    margin-right: 8px;
  }

  input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ad5502;

    &:focus {
      outline: none;
    }
  }
}

.invalid {
  input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;

    &:focus {
      border-color: #ff8800;
      background-color: #fbe8d2;
    }
  }
}
