.cart-items {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

.total-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 1.5rem;

  span {
    font-size: 1.5rem;
  }
}
