.button {
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  font-size: 1rem;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  transition: all 0.3s ease-in;
  filter: brightness(1);

  &:hover,
  &:active {
    filter: brightness(0.8);
  }

  &:focus {
    filter: brightness(0.6);
  }

  &.outline {
    background-color: transparent;
    border-color: #8a2b06;
    color: #8a2b06;
  }
}
