.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.content {
  position: fixed;
  z-index: 999;
  width: 40%;
  min-width: 600px;
  height: 216px;
  background-color: #fff;
  top: 37.5%;
  border-radius: 16px;
}

.modal-header {
  position: relative;
  background-color: blueviolet;
  height: 60px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  color: #fff;

  & span {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.modal-body {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-left: 20px;
  font-size: 1.25rem;
}

.modal-footer {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
