.list-item {
  list-style: none;
  position: relative;
  padding: 12px;
  border: 1px solid #ccc;
}

.actions {
  position: absolute;
  z-index: 900;
  top: 12px;
  right: 8px;

  & button {
    margin-right: 12px;
  }
}
